{% extends "layout.html" %}

{% block title %}Archasaur Info{% endblock %}

{% block content %}
<h1>Archasaur Information</h1>
<p>Archasaurs are a group of reptiles that include dinosaurs, pterosaurs, and other modern day animals (including birds and crocodiles).</p>

<h2>Key Groups:<h2>
<ul>
	<li><strong>Pseudosuchia:</strong> Crocodiles and their extinct relatives.</li>
	<li><strong>Avemetatarsalia:</strong> Dinosaurs and birds.</li>
	<li><strong>Pterosauria:</strong> Flying reptiles.</li>
</ul>

<h2>Eras:<h2>
<ul>
	<li>Triassic: first true dinosaurs appear.</li>
	<li>Jurassic: many dinosaurs and first birds.</li>
	<li>Cretacious: dinosaurs diversify, ends with mass extinction.</li>
</ul>

<h2>Habitats & Diets:<h2>
<ul>
	<li>Herbavores: for example, Sauropods like Brachiosaurus.</li>
	<li>carnivores: for example, Allosaurus, Tyrannosaurus.</li>
	<li>Pterosaurs: flying predators or fish eaters.</li>
</ul>

<h2>Fun Facts:<h2>
<ul>
	<li>Birds are modern dinosaurs!</li>
	<li>Not all flying reptiles are dinosaurs.</li>
	<li>Rhamphorhynchus is my favorite pterosaur.</li>
</ul>

<h2>Example Archasaurs:<h2>
<ul>
	<li><strong>Rhamphorhynchus:</strong> Long tailed pterosaur.</li>
	<li><strong>Ankylosaurus:</strong> Armored dinosaur with a club tail.</li>
	<li><strong>Spinosaurus:</strong> Semi aquatic dinosaur with sail.</li>
	<li><strong>Dilophosaurus:</strong> Bipedal theropod with thin crests on its head.</li>
	<li><strong>Pteranodon:</strong> Large flying Pterosaur.</li>
	<li><strong>Brachiosaurus:</strong> Tall herbivorous dinosaur.</li>
	<li><strong>Velociraptor:</strong> Small fast predator.</li>
	<li><strong>Triceratops:</strong> Three horned herbivore.</li>
	<li><strong>Dimorphodon:</strong> Early short tailed pterosaur.</li>
</ul>

{% endblock %}