<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
	<a href="{{ url_for('home') }}" class="button">Home</a>
	<a href="{{ url_for('retake') }}" class="button">Start Over</a>
	<p>Thank you for using my web app!<br>Archasaur Secure Quiz App by Ann Jordan</p>

	<!-- image -->	    
	<img src="{{ url_for('static', filename='images/cat.webp') }}" alt="Kitten with Headphones" class="img-fluid rounded shadow mb-4 homepage-image">
 	<p class="text-center mt-2">
  		<a href="https://www.redbubble.com/i/sticker/kitten-with-headphones-by-Swshi/147770403.EJUG5"target="_blank"class="custom-link"><small>Artwork by Swshi on Redbubble</small></a>
	</p>

</div>

</body>
</html>